extends layout

block content
    p Trabalho para a disciplina de Banco de Dados 2018.3 da UFJF
    p Demonstração de um cenário de uso para o banco de dados não relacional #[em Redis].
    p Nesse exemplo foi criado uma aplicação de loja online onde os usuários podem navegar por diversos produtos. Caso um usuário acesse um determinado tipo de produto múltiplas vezes em um curto período de tempo o site irá oferecer sugestões de outros produtos daquele mesmo tipo.
    p #[b Grupo:]
    ul
        li André Ferreira Martins
