doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Cabin|Righteous|Quicksand')
    body
        header(class='top-bar')
            div(class='top-bar-pad')
                div(class='main')
                    h1(class='logo') The RPG Store
                ul(class='secondary')
                    li(class='item')
                        a(class='link', href="/") Início
                    li(class='item')
                        a(class='link', href="/produtos") Produtos
                    li(class='item')
                        a(class='link', href="/sobre") Sobre
        div(class='content')
            h1(class='title')= title
            div(class='content-body')
                block content

        if (debug_label && debug_info.length > 0)
            div(class='debug-info')
                ul
                    li(class='label')= debug_label
                    each info in debug_info
                        li(class='info')= info
